/* unidades de medidas

 Absolutas
    px(pixels) 1/100 polegada 0,254 mm
    in(inches/polegada)
    cm/mm(centimetro/milimetro)

 Relativas
    % calcula o tamanho relativo ao elemento pai
    vw(view width)  1vw é 1% da largura da janela do navegador
    vh(view height)  1vh é 1% da altura da janela do navegador
    em é uma unidade relativa ao elemento pai
    rem é uma unidade relativa ao elemento raiz
*/

* {
    margin: 1;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    --color-principal: rgba(0, 4, 255, 0.366);
}

p, h1 {
    background-color: var(--color-principal);

}

#titulo {
    color: aqua;
}

.paragrafos {
    font-weight: bold;
}

.vo {
    font-size: 30px;
    font-weight: 100;
    font-family: 'Delicious Handrawn', cursive, sans-serif;
    width: 50px;
    height: 50px;
    background-color: blueviolet;
    padding: 10px 50px 30px;
    margin: 10px 20px 30px 40px;
/* Atalho   12h  15h  18h  21h 
Relogio andando*/
}


.pai {
    font-size: 16px;
    font-family: 'Lobster', cursive;
}

.filho {
    /* font-size: 100%;
    font-style: italic;
    line-height: 50px;
    letter-spacing: 10px;
    word-spacing: 20px;
    text-align: justify;
    text-transform:uppercase;
    text-transform: lowercase ;
    text-transform: capitalize;
    text-decoration: overline;
    text-shadow: 5px 2px 6px rgb(5, 5, 5); */
    
}